{
    "compilerOptions": {
        "module": "CommonJS",
        "moduleResolution": "node",
        "outFile": "api.js",
        "noImplicitAny": false,
        "suppressImplicitAnyIndexErrors": true,
        "target": "{{#supportsES6}}ES6{{/supportsES6}}{{^supportsES6}}ES5{{/supportsES6}}",
        "removeComments": true,
        "noLib": false,
        "lib": ["ES2015", "DOM"],
        "strictNullCheck": true,
        "declaration": false
    }
}

